<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG" monitorInterval="60">

    <Properties>
        <Property name="log-path">/hms/logs/httpServer</Property>
        <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level%x %c{1} [%t] - %msg%n</Property>
        <Property name="trans-log-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS}%msg%n</Property>
        <Property name="log-rotate-pattern">.log.%d{yyyy-MM-dd-HH}</Property>
        <Property name="trans-log-rotate-pattern">.log.%d{yyyy-MM-dd-HH-mm}</Property>
        <Property name="role-based-invalid-deletions-pattern">%msg%n</Property>
        <Property name="role-based-invalid-deletions-rotate-pattern">role-based-invalid-deletions-%d{yyyy-MM-dd-HH-mm}.csv</Property>
    </Properties>

    <CustomLevels>
        <CustomLevel name = "REQUEST" intlevel="450"/>
        <CustomLevel name="RAVEN" intlevel="500"/>
    </CustomLevels>

    <Appenders>

        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-pattern}"/>
        </Console>

        <!--<RollingRandomAccessFile name="role-based-invalid-deletions" fileName="${log-path}/role-based-invalid-deletions.csv"
                                 filePattern="${log-path}/${role-based-invalid-deletions-rotate-pattern}">
            <PatternLayout pattern="${role-based-invalid-deletions-pattern}">
                <header>msisdn, service code, path\n</header>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0/1 * 1/1 * ? *" evaluateOnStartup="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingRandomAccessFile>-->

        <RollingRandomAccessFile name="trace-log" fileName="${log-path}/trace.log" filePattern="${log-path}/trace${log-rotate-pattern}">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="trans-log" fileName="${log-path}/trans.log" filePattern="${log-path}/trans${trans-log-rotate-pattern}">
            <PatternLayout pattern="${trans-log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
            </Policies>
            <!--<DefaultRolloverStrategy max="7"/>-->
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="trans-sec-log" fileName="${log-path}/trans-sec.log" filePattern="${log-path}/trans-sec-${trans-log-rotate-pattern}">
            <PatternLayout pattern="${trans-log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
            </Policies>
            <!--<DefaultRolloverStrategy max="7"/>-->
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="info-log" fileName="${log-path}/info.log" filePattern="${log-path}/info${log-rotate-pattern}">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingRandomAccessFile>

        <RollingFile name="error-log" fileName="${log-path}/error.log" filePattern="${log-path}/error${log-rotate-pattern}">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="request-log" fileName="${log-path}/request.log" filePattern="${log-path}/request${log-rotate-pattern}">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="raven-request-log" fileName="${log-path}/raven-request.log" filePattern="${log-path}/request${log-rotate-pattern}">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="preference-log" fileName="${log-path}/preference.log" filePattern="${log-path}/preference${log-rotate-pattern}">
            <PatternLayout pattern="%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <SnmpLoggerAppender name="snmp" snmpTrapFileName="/hms/support/snmp_send.sh"/>

    </Appenders>

    <Loggers>

        <!--<Logger name="ROLE_BASED_INVALID_DELETIONS" level="info" additivity="false">
            <appender-ref ref="role-based-invalid-deletions" level="info"/>
        </Logger>-->

        <Logger name="hms" level="info" additivity="false">
            <!--<appender-ref ref="trace-log" level="trace"/>-->
            <appender-ref ref="info-log" level="debug"/>
            <appender-ref ref="error-log" level="error"/>
            <!--<appender-ref ref="console-log" level="error"/>-->
        </Logger>

        <Logger name="TRANS_LOG" level="debug" additivity="false">
            <appender-ref ref="trans-log" level="debug"/>
        </Logger>

        <Logger name="request_logger" level="REQUEST" additivity="false">
            <appender-ref ref="request-log" level="REQUEST"/>
        </Logger>

        <Logger name="raven_request_logger" level="RAVEN" additivity="false">
            <appender-ref ref="raven-request-log" level="RAVEN"/>
        </Logger>

        <Logger name="TRANS_SEC_LOG" level="info" additivity="false">
            <appender-ref ref="trans-sec-log" level="info"/>
        </Logger>

        <Logger name="snmp_logger" level="info" additivity="false">
            <appender-ref ref="snmp"/>
        </Logger>

        <Logger name="PREFERENCE_LOG" level="info" additivity="false">
            <appender-ref ref="preference-log"/>
        </Logger>

        <Root level="info" additivity="false">
            <!--<appender-ref ref="trace-log" level="trace"/>-->
            <appender-ref ref="info-log" level="info"/>
            <appender-ref ref="error-log" level="error"/>
            <!--<appender-ref ref="console-log" level="info"/>-->
        </Root>
    </Loggers>

</Configuration>
